<html lang="en">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViewDetail</title>
    <!-- <link rel="stylesheet" href="/css/viewDetail.css"> -->
</head>

<body>
    <h1>VIEW DETAIL</h1>
    <table border="1px">
        <thead>
            <tr>
               
                <th>Type</th>
                <th>Location</th>
                <th>Size</th>
                <th>Img</th>
                <th>Booking</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="san : ${SanDetail}">

                <td th:text="${san.LoaiSan.loai_san_type}">Type</td>
                <td th:text="${san.vi_tri_san}">Location</td>
                <td th:text="${san.Size.size}">Size</td>
                <td><img th:src="${san.img}" style="width: auto;" height="50px"></td>
                <td><a th:href="@{/ShowDetailLocation/{id}(id=${san.san_id})}">View</a></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/}">Back to home</a>

</body>

</html>