<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <!-- Thêm đường dẫn đến file tinymce.min.js -->
    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/js/tinymceConfig.js"></script>
</head>
<body>
    <h1>Create New Post</h1>
    <form action="/posts" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">

        <label for="content">Content:</label>
        <textarea id="default" name="content"></textarea>

        <button type="submit">Create Post</button>
    </form>
</body>
</html>
